body{
    background-color: #000;

}


.tipo{
    color: white;
}

.logo{
    max-width:200px;
    max-height:150px;
    width: auto;
    height: auto;
}

.cor1{
    background-color: #15398D;
}

.pesquisa{
    max-width:150px;
    max-height:100px;
    width: auto;
    height: auto;
}

.efeito:hover{
    cursor: pointer;
    transition-duration: 1s;
    transform: scale(1.1 , 1.1);
}

.nome{
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

iframe{
    width: 100vw;
    height: 56.25vw;
    max-height: 100vh;
    max-width: 177.78vh;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
}